/* COMMON */

body {
  font-size: 16px;
  font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}


/* HEADER */

header {
  height: 48px;
  position: relative;
  font-size: 13px;
}

header .menu {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0,0,0,.87);
  padding-left: 15px;
  display: flex;
}

header .menu .menu__text {
  margin-top: 8px;
  display: flex;
}

header .menu .menu__text .gmail {
  margin-right: 15px;
}


header .menu .menu__text .gmail:hover {
  text-decoration: underline;
}

header .menu .menu__text .imagemenu {
  margin-right: 15px;
}

header .menu .menu__text .imagemenu:hover {
  text-decoration: underline;
}

header .menu .menu__right {
  display: flex;
}

header .menu .icon__apps {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

header .menu .icon__apps:hover {
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%
}


header .menu .login {
  width: 100px;
  height: 30px;
  background-color: #1A73E8;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  text-align: center;
  align-items: center;
  padding: 9px 23px;
  box-sizing: border-box;
  margin : 0 8px;
  cursor: pointer;
  margin-right: 15px;
}

header .menu .login:hover {
  background-color: #2b7de9;
  box-shadow: 1px 1px 0 rgba(66, 133, 244, .3)
}

/* LOGO */

.logo {
  text-align: center;
  margin-top: 100px;
}

.logo .google__logo {
  height: 92px;
}

/* SEARCHBOX */

.searchboxwrapper {
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
}

.searchbox {
  width: 581px;
  padding-left: 10px;
  margin-top: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 25px;
  box-sizing: border-box;
}

.searchbox > input {
  width: 581px;
  height: 42px;
  outline: none;
  padding-left: 10px;
  border: none;
  font-size: 16px;
  box-sizing: border-box
}

.searchbox:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0,0,0,.33);
}

/* html, css만으로 div에 :focus 적용하는 방법 아직 못찾음. 아래 선택자는 현재 작동하지 않음*/
.searchbox:focus {
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,.33);
}

.searchbox .material-icons {
  cursor: pointer;
}

.searchbox .material-icons.searchicon {
  width: 20px;
  height: 20px;

}

.searchbox .material-icons.keyboardicon {
  margin-right: 10px;
}

.searchbox .material-icons.micicon {
  margin-right: 10px;
}

/* SEARCHBOX btn */
.searchboxbtn {
  margin-top: 25px;
  text-align: center;
}

.searchboxbtn .searchbtn {
  height: 39px;
  border: 1px solid transparent;
  margin: 11px 4px;
  outline: none;
  border-radius: 6px;
  background-color: #f8f9fa;;
  padding: 0 16px;
  color: #3c4043;
  line-height: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.searchboxbtn .searchbtn:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 0 2px #dadce0;
}


.searchboxbtn .feelinglucky {
  height: 39px;
  border: 1px solid transparent;
  margin: 11px 4px;
  outline: none;
  border-radius: 6px;
  background-color: #f8f9fa;;
  padding: 0 16px;
  color: #3c4043;
  line-height: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.searchboxbtn .feelinglucky:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 0 2px #dadce0;
}

/* FOOTER */

footer {
  width: 100%;
  height: 95px;
  background-color: #f2f2f2;
  font-size: 14px;
  position: fixed;
  bottom: 0;
}

footer .upper-section {
  width: 100%;
  height: 50%;
  color: #70757a;
  border-bottom: 1px solid #DADCE0;
  padding: 15px 30px;
  box-sizing: border-box;
}

footer .lower-section {
  width: 100%;
  height: 50%;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

footer .lower-section__left {
  display: flex;
}

footer .lower-section__left > a {
  display: block;
  color: #70757a;
  padding: 15px;
}

footer .lower-section__right {
  display: flex;
  justify-content: flex-end;
}

footer .lower-section__right > a {
  color: #70757a;
  padding: 15px;
}
